# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Lost Soul 2__/Lost Soul 2/nbproject/private/private.xml
Lost Soul 2__/Lost Soul 2/nbproject/genfiles.properties
Lost Soul 2__/Lost Soul 2/nbproject/build-impl.xml
Lost Soul 2__/Lost Soul 2/nbproject/build-impl.xml
*.xml
